*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title{
    height: 100%;
    color: #D2691E;
}

.btn{
    width:20%;
    border: solid 2px #8B4513;
    border-radius: 25px;

}
.btn:hover{
    border:none;
    background-color: #8B4513;
    color: white;
}
