*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title{
    height: 100%;
    color: #D2691E;

}
.btn{
    width: 100%;
    border: solid 2px #8B4513;
    border-radius: 25px;

}
.btn:hover{
    border:none;
    background-color: #8B4513;
    color: white;
}
.card{
    height: 100%;
    transition: all 300ms;
}
.card:hover{
    transform: scale(1.08);
}
.form-control:checked{
    box-shadow: none;
}